@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

.fridge-title {
  color: rgb(34, 34, 34);
  font-size: 70px;
  font-family: "Architects Daughter", cursive;
  text-decoration: underline;
   z-index: 1;
}

.fridge-header-container {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: rgb(58, 59, 50);
  background-color: transparent;
}
.fridge-animation-area {
  background: linear-gradient(to left, rgb(242, 207, 212), rgb(239, 255, 250));
  width: 100%;
  height: 90vh;
}
.fridge-box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  overflow: hidden;
}
.fridge-box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: transparent;
  animation: animate 20s linear infinite;
  bottom: -150px;
  z-index: 0;
}
.fridge-box-area li:nth-child(9) {
  left: 77%;
  width: 30px;
  height: 30px;
  font-size: 40px;
  animation-delay: 3s;
  animation-duration: 15s;
  color: rgb(195, 236, 245);
}

.fridge-box-area li:nth-child(2) {
  left: 69%;
  width: 30px;
  height: 30px;
  animation-delay: 5s;
  animation-duration: 20s;
  font-size: 150px;
  color: rgb(254, 152, 0);
}
.fridge-box-area li:nth-child(3) {
  left: 20%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
  font-size: 44px;
  color: rgb(3, 146, 96);
}
.fridge-box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
  font-size: 38px;
  color: rgb(81, 44, 5);
}
.fridge-box-area li:nth-child(5) {
  left: 80%;
  width: 210px;
  height: 190px;
  animation-delay: 0s;
  font-size: 80px;
  color: rgb(255, 153, 0);
}
.fridge-box-area li:nth-child(6) {
  left: 15%;
  width: 150px;
  height: 70px;
  animation-delay: 3.5s;
  font-size: 33px;
  color: rgb(190, 10, 10);
}
.fridge-box-area li:nth-child(7) {
  left: 10%;
  width: 110px;
  height: 90px;
  animation-delay: 3.5s;
  font-size: 140px;
  color: rgb(255, 132, 0);
}
.fridge-box-area li:nth-child(8) {
  left: 70%;
  width: 50px;
  height: 150px;
  animation-duration: 17s;
  animation-delay: 5s;
  font-size: 110px;
  color: rgb(255, 213, 0);
}
.fridge-box-area li:nth-child(10) {
  left: 20%;
  width: 200px;
  height: 50px;
  animation-duration: 30s;
  animation-delay: 2s;
  font-size: 70px;
  color: rgb(148, 89, 16);
}

.fridge-btn-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  height: 100vh;
}
.single-ingredient-name {
  font-weight: bolder;
  font-size: 30px;
}
.get-recipe-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-ingredient-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 75%;
  z-index: 2;
}
.recipe-ingredient-name {
  font-size: 30px;
  color: rgb(26, 26, 26);
  font-family: "Mansalva", cursive;
}
.single-ingredient-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 50px;
}
.fridge-left-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}
.fridge-button {
  width: 200px;
  background-color: transparent;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 49px;
  color: rgb(58, 59, 50);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  font-size: 14px;
}

.fridge-button:hover {
  width: 200px;
  background-color: #fdc500;
  outline: none;
  height: 30px;
  border-radius: 49px;
  color: rgb(58, 59, 50);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
}

.get-recipe-button {
  width: 200px;
  background-color: #fff;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 49px;
  color: rgb(58, 59, 50);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  font-size: 14px;
}

.get-recipe-button:hover {
  width: 200px;
  background-color: #fdc500;
  outline: none;
  height: 30px;
  border-radius: 49px;
  color: rgb(58, 59, 50);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  box-shadow: 0 0 20px #fff, 0 0 40px #fdc500, 0 0 5px #fdc500;
  transition-delay: 0s;
}
.ingredient-name {
  font-size: 100px;
  font-weight: bolder;
  font-family: "Mansalva", cursive;
  color: rgb(34, 34, 34);
  margin-bottom: 20px;
  word-wrap: normal;
  text-align: center;
}

.fridge-swiper-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.fridge-swiper-wrapper {
  display: flex;
  width: 50vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.single-ingredient-swiper-wrapper {
  display: flex;
  width: 50vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.notice-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
}
#recipe-notice {
  color: rgb(34, 34, 34);
  font-size: 30px;
  text-align: center;
}
#preppy {
  font-size: 60px;
}
#root > div.animation-area > div:nth-child(2) {
  overflow-y: scroll;
  height: 84%;
}
#root > div.animation-area > div:nth-child(2) > ul {
  text-align: center;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(360deg);
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .fridge-button {
    width: 200px;
    background-color: #fdc500;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 49px;
    color: rgb(58, 59, 50);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
  }
  .fridge-button:hover {
    width: 200px;
    background-color: #fdc500;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 49px;
    color: rgb(58, 59, 50);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
  }
  #recipe-notice {
    font-size: 22px;
    text-align: center;
  }
  .ingredient-name {
    font-size: 80px;
  }
  .single-ingredient-swiper-wrapper {
    display: flex;
    width: 50vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }

  .get-recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75%;
    z-index: 2;
    margin-bottom: 100px;
    margin-right: 50px;
  }
}
@media (max-width: 890px) {
  #preppy {
    font-size: 40px;
  }
  #recipe-notice {
    font-size: 15px;
    text-align: center;
  }
  .ingredient-name {
    font-size: 60px;
  }
}

@media (max-width: 799px) {
  .fridge-btn-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 200px));
    height: 70vh;
  }
  .single-ingredient-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  .get-recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75%;
    z-index: 2;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .fridge-swiper-container {
    height: 300px;
    margin-top: 250px;
  }
  .fridge-left-panel {
    height: 250px;
  }
  .fridge-animation-area {
    background: linear-gradient(
      to left,
      rgb(242, 207, 212),
      rgb(239, 255, 250)
    );
    width: 100%;
    /* height: 120vh; */
  }
  .fridge-box-area {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
  }
  .fridge-box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: transparent;
    animation: animate 10s linear infinite;
    bottom: -100px;
    z-index: 0;
  }
  .fridge-box-area li:nth-child(9) {
    left: 77%;
    width: 30px;
    height: 30px;
    font-size: 40px;
    animation-duration: 15s;
    color: rgb(195, 236, 245);
  }

  .fridge-box-area li:nth-child(2) {
    left: 69%;
    width: 30px;
    height: 30px;
    animation-duration: 20s;
    font-size: 150px;
    color: rgb(254, 152, 0);
  }
  .fridge-box-area li:nth-child(3) {
    left: 20%;
    width: 100px;
    height: 100px;
    animation-duration: 30s;
    font-size: 44px;
    color: rgb(3, 146, 96);
  }
  .fridge-box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-duration: 15s;
    font-size: 38px;
    color: rgb(81, 44, 5);
  }
  .fridge-box-area li:nth-child(5) {
    left: 80%;
    width: 210px;
    height: 190px;
    font-size: 80px;
    color: rgb(255, 153, 0);
  }
  .fridge-box-area li:nth-child(6) {
    left: 15%;
    width: 150px;
    height: 70px;
    font-size: 33px;
    color: rgb(190, 10, 10);
  }
  .fridge-box-area li:nth-child(7) {
    left: 10%;
    width: 110px;
    height: 90px;
    font-size: 140px;
    color: rgb(255, 132, 0);
  }
  .fridge-box-area li:nth-child(8) {
    left: 70%;
    width: 50px;
    height: 150px;
    animation-duration: 10s;
    animation-delay: 0s;
    font-size: 110px;
    color: rgb(255, 213, 0);
  }
  .fridge-box-area li:nth-child(10) {
    left: 20%;
    width: 200px;
    height: 50px;
    animation-duration: 30s;
    font-size: 70px;
    color: rgb(148, 89, 16);
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-3000px) rotate(360deg);
      opacity: 1;
    }
  }
}

@media (max-width: 650px) {
  .fridge-btn-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 200px));
    height: 70vh;
  }
  .single-ingredient-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  .get-recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75%;
    z-index: 2;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .fridge-swiper-container {
    height: 300px;
    margin-top: 250px;
  }
  .fridge-left-panel {
    height: 250px;
  }
  .fridge-animation-area {
    background: linear-gradient(
      to left,
      rgb(242, 207, 212),
      rgb(239, 255, 250)
    );
    width: 100%;
    height: 120vh;
  }
  .fridge-box-area {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 120vh;
  }
  .fridge-box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: transparent;
    animation: animate 20s linear infinite;
    bottom: -100px;
    z-index: 0;
  }
  .fridge-box-area li:nth-child(9) {
    left: 77%;
    width: 30px;
    height: 30px;
    font-size: 40px;
    animation-duration: 15s;
    color: rgb(195, 236, 245);
  }

  .fridge-box-area li:nth-child(2) {
    left: 69%;
    width: 30px;
    height: 30px;
    animation-duration: 10s;
    font-size: 150px;
    color: rgb(254, 152, 0);
  }
  .fridge-box-area li:nth-child(3) {
    left: 20%;
    width: 100px;
    height: 100px;
    animation-duration: 30s;
    font-size: 44px;
    color: rgb(3, 146, 96);
  }
  .fridge-box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-duration: 15s;
    font-size: 38px;
    color: rgb(81, 44, 5);
  }
  .fridge-box-area li:nth-child(5) {
    left: 80%;
    width: 210px;
    height: 190px;
    font-size: 80px;
    color: rgb(255, 153, 0);
  }
  .fridge-box-area li:nth-child(6) {
    left: 15%;
    width: 150px;
    height: 70px;
    font-size: 33px;
    color: rgb(190, 10, 10);
  }
  .fridge-box-area li:nth-child(7) {
    left: 10%;
    width: 110px;
    height: 90px;
    font-size: 140px;
    color: rgb(255, 132, 0);
  }
  .fridge-box-area li:nth-child(8) {
    left: 70%;
    width: 50px;
    height: 150px;
    animation-duration: 10s;
    animation-delay: 0s;
    font-size: 110px;
    color: rgb(255, 213, 0);
  }
  .fridge-box-area li:nth-child(10) {
    left: 20%;
    width: 200px;
    height: 50px;
    animation-duration: 15s;
    font-size: 70px;
    color: rgb(148, 89, 16);
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-3000px) rotate(360deg);
      opacity: 1;
    }
  }
}
@media (max-width: 450px) {
  #preppy {
    font-size: 30px;
  }
  #recipe-notice {
    font-size: 15px;
    text-align: center;
  }
  .ingredient-name {
    font-size: 40px;
  }
  .single-ingredient-box {
    width: 100%;
  }
  .fridge-button {
    width: 150px;
    background-color: #fdc500;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 49px;
    color: rgb(58, 59, 50);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    font-size: 12px;
  }
  .fridge-button:hover {
    width: 150px;
    background-color: #fdc500;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 49px;
    color: rgb(58, 59, 50);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    font-size: 12px;
  }
  .get-recipe-button:hover {
    width: 200px;
    background-color: #fdc500;
    outline: none;
    height: 30px;
    border-radius: 49px;
    color: rgb(58, 59, 50);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 0 0 20px #fff, 0 0 40px #fdc500, 0 0 5px #fdc500;
    transition-delay: 0s;
  }
}

@media (max-width: 425px) {
  .fridge-btn-container {
    width: 200px;
    margin-right: 0;
  }
}
