.navbar-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navbar-icon {
  height: 100px;
  width: 100px;
  color: rgb(58, 59, 50);
  padding-right: 20px;
  padding-left: 20px;
}
